<div class="jumbotron" #scrollframe>
    <img  class="mx-auto d-block" src="../assets//xello icon.png" /><br>
    <div class="container">
        <h5><b>COLLEGE &amp; CAREER PLANNING SOFTWARE</b></h5><br>
        <h1>Every Student, Future Ready!</h1>
        <br>
        <h4>Easily prepare your K-12 students for future success with an engaging program that builds self-knowledge, personalized plans, and critical life skills.</h4><br>
        <button class="btn btn-dark" (click)="goToKnowMore('knowmore')" >Know More</button>    
    </div>
</div>