<app-navcomponent></app-navcomponent>
<div class="jumbotron">
    <img  class="mx-auto d-block" src="../assets//xello icon.png" /><br>
    <div class="container">
        <!-- <h1>Hello, world!</h1> -->
        <h5><b>COLLEGE &amp; CAREER PLANNING SOFTWARE</b></h5><br>
        <h1>Every Student, Future Ready!</h1>
        <br>
        <h4>Easily prepare your K-12 students for future success with an engaging program that builds self-knowledge, personalized plans, and critical life skills.</h4><br>
        <app-tooltipbuttons></app-tooltipbuttons>
    </div>
</div>
<router-outlet></router-outlet>